﻿@page
@model VMStest.Models.user
@{
    ViewData["Title"] = "Login";
}

<div style="padding-top:50px;"></div>
<div style="padding:50px;">
    @if (User.Identity.IsAuthenticated)
    {
        <div class="row">
            You are Logged in as <span style="font-size:large;color:forestgreen;">@User.Identity.Name</span>
        </div>
        <div class="row" style="padding-top:50px;">
            @Html.ActionLink("Log Off", "Logoff", "Home", null, new { @class = "btn btn-primary btn-lg rph-login-button" })
        </div>
    }
    else
    {
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4">
                <div>
                    @using (Html.BeginForm("LoginUser", "Home", FormMethod.Post, new { role = "form" }))
                    {
                        <div>
                            @Html.AntiForgeryToken()
                            <div>
                                <label>User ID</label><br />
                            </div>
                            <div>
                                @Html.TextBoxFor(m => m.USERID, new { @class = "form-control txtbox" })
                            </div>
                            <div style="padding-top:20px;"></div>
                            <div>
                                <label>Password</label><br />
                            </div>
                            <div>
                                @Html.PasswordFor(m => m.PASSWORD, new { @class = "form-control txtbox" })
                            </div>
                        </div>
                        <div style="padding-left:35%;width:40%;">
                            <div style="padding-top:20px;">
                                <input class="btn btn-primary btn-lg rph-login-button" type="submit" value="Login" />
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8">
                <div style="padding-left:50px;">
                    <div><b>Please login with any of the below User ID, Password is <span style="color:forestgreen;font-size:large;">test</span> for all Users</b></div>
                    <div style="padding-top:10px;">
                        <ul style="list-style: none;">
                            <li>weiwei2  -  Director, Read Only - false</li>
                            <li>claudia.huang@lingkail.com  -  Supervisor, Read Only - false</li>
                            <li>nurul.asmidar@lingkail.com  -  Analyst, Read Only - false</li>
                            <li>yap@sena.com.my  -  Analyst, Read Only - true</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

