﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Map";
}


<!DOCTYPE html>
<html>
@*https://docs.mapbox.com/mapbox-gl-js/example/3d-buildings/*@
<head>
    <meta charset='utf-8' />
    <title>Display buildings in 3D</title>
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.4.0/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.4.0/mapbox-gl.css' rel='stylesheet' />

    <style>
        /*body {
            margin: 0;
            padding: 0;
        }*/
        #map {
            position: absolute;
            top: 0;
            bottom: 0;
            width: 100%;
        }

        body {
            font-family: "Lato", sans-serif;
        }

        .sidenav {
            height: 100%;
            width: 150px;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            background-color: black;
            overflow-x: hidden;
            padding-top: 50px;
        }

            .sidenav a {
                padding: 6px 8px 6px 16px;
                text-decoration: none;
                font-size: 22px;
                color: #818181;
                display: block;
            }

                .sidenav a:hover {
                    color: #f1f1f1;
                }
    </style>
</head>

<body>

    <!--Side Navigation Bar-->
    <div class="sidenav">
        <br /><br />
        <a class="navbar-brand" asp-page="/Home/Login">Login</a>
        <a class="navbar-brand" asp-page="/Pages/Index">Map</a>
        <a class="navbar-brand" asp-page="/Zones/Table1">Table</a>
        <a class="navbar-brand" asp-page="/VMS/History">History</a>
        <a class="navbar-brand" asp-page="/VMS/Multiple">Multiple</a>
        
    </div>


    <style>
        .mapboxgl-popup {
            max-width: 400px;
            font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
        }
    </style>
    <!--Display Map-->
    <div id='map'></div>
    <script>
        mapboxgl.accessToken = 'pk.eyJ1Ijoid2Vpd2VpMiIsImEiOiJjank0a25zaXoxYjJ0M2dxODBlZnNjemFhIn0.n-MsRrGrCjsfW-oXAw2PPw';

        var map = new mapboxgl.Map({
            style: 'mapbox://styles/mapbox/light-v10',
            //center: [-74.0066, 40.7135], //New York
            center: [101.693207, 3.140853], //long, lat
            zoom: 15.5,
            pitch: 45,
            bearing: -17.6,
            container: 'map',
            antialias: true
        });


        // The 'building' layer in the mapbox-streets vector source contains building-height
        // data from OpenStreetMap.
        map.on('load', function () {
            // Insert the layer beneath any symbol layer.
            var layers = map.getStyle().layers;

            var labelLayerId;
            for (var i = 0; i < layers.length; i++) {
                if (layers[i].type === 'symbol' && layers[i].layout['text-field']) {
                    labelLayerId = layers[i].id;
                    break;
                }
            }

            map.addLayer({
                'id': '3d-buildings',
                'source': 'composite',
                'source-layer': 'building',
                'filter': ['==', 'extrude', 'true'],
                'type': 'fill-extrusion',
                'minzoom': 15,
                'paint': {
                    'fill-extrusion-color': '#aaa',

                    // use an 'interpolate' expression to add a smooth transition effect to the
                    // buildings as the user zooms in
                    'fill-extrusion-height': [
                        "interpolate", ["linear"], ["zoom"],
                        15, 0,
                        15.05, ["get", "height"]
                    ],
                    'fill-extrusion-base': [
                        "interpolate", ["linear"], ["zoom"],
                        15, 0,
                        15.05, ["get", "min_height"]
                    ],
                    'fill-extrusion-opacity': .6
                }
            }, labelLayerId);
        });


    </script>
</body>
</html>

