﻿@page
@model VMStest.Pages.VMS.EditorModel
@{
    ViewData["Title"] = "Editor";
}


<link href="~/css/date.css" rel="stylesheet" />
<link href="~/css/jquery-ui.css" rel="stylesheet" />
<link href="~/css/style.css" rel="stylesheet" />
<script src="~/js/fabric.min.js"></script>
<script src="~/js/jquery-3.4.1.min.js"></script>
<script src="~/js/canvas-toBlob.js"></script>
<script src="~/js/FileSaver.js"></script>
<script src="~/js/p5.min.js"></script>
<script src="~/js/p5.dom.min.js"></script>
<script src="~/js/canvas2image.js"></script>


<style>
    .topnav {
        height: auto;
        width: 100%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: white;
        overflow-x: hidden;
        padding-top: 0.5px;
    }
</style>


<body>

    <header>
        <div class="topnav">
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="container">

                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                        <ul class="navbar-nav flex-grow-1">

                            <li class="nav-item">
                                <a class="navbar-brand" asp-area="" asp-page="/Index">Map</a>
                            </li>
                            <li class="nav-item">
                                <a class="navbar-brand" asp-area="" asp-page="/Zones/Table1">Table</a>
                            </li>
                            <li class="nav-item">
                                <a class="navbar-brand" asp-area="" asp-page="/VMS/History">History</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

        </div>
    </header>
</body>


<br />
<br />
<br />
<div>
    <label style="font-size: 24px; margin-left:350px">VMS Messages</label>
    <label class="pull-left" style="font-size: 24px; margin-left:850px">Message Editor</label>
</div>
<br />
<div class="containermess" style="display: inline-grid;">
    <!-- Config of message 1 -->
    <div class="bordermess" style="margin-left:30px; text-align: center">
        <input type="checkbox" id="checkmess1">
        <label for="mess1" style="font-size: 24px; text-align: center">Message 1</label>
        <p>Date: <input id="1" type="date"></p>
        <p style="padding-left: 25px">Time: <input id="timemes1" type="number"></p>
        <canvas id="c1" width=768 height=128 style="padding-bottom: 0px;"></canvas>
        <script type="text/javascript">
            var cvas1 = new fabric.Canvas('c1');
            cvas1.setBackgroundColor('#000000');
            cvas1.renderAll();
        </script>
    </div>
    <!-- Config of message 1 -->
    <!-- Config of message 2 -->
    <div class="bordermess" style="margin-left:30px; text-align: center">
        <input type="checkbox" id="checkmess2">
        <label for="mess1" style="font-size: 24px; text-align: center">Message 2</label>
        <p>Date: <input id="1" type="date"></p>
        <p style="padding-left: 25px">Time: <input id="timemes1" type="number"></p>
        <canvas id="c2" width=768 height=128 style="padding-bottom: 0px;"></canvas>
        <script type="text/javascript">
            var cvas2 = new fabric.Canvas('c2');
            cvas2.setBackgroundColor('#000000');
            cvas2.renderAll();
        </script>
    </div>
    <!-- Config of message 2 -->
    <!-- Config of message 3 -->
    <div class="bordermess" style="margin-left:30px; text-align: center">
        <input type="checkbox" id="checkmess3">
        <label for="mess1" style="font-size: 24px; text-align: center">Message 3</label>
        <p>Date: <input id="1" type="date"></p>
        <p style="padding-left: 25px">Time: <input id="timemes1" type="number"></p>
        <canvas id="c3" width=768 height=128 style="padding-bottom: 0px;"></canvas>
        <script type="text/javascript">
            var cvas3 = new fabric.Canvas('c3');
            cvas3.setBackgroundColor('#000000');
            cvas3.renderAll();
        </script>
    </div>
    <!-- Config of message 3 -->
    <!-- Config of message 4 -->
    <div class="bordermess" style="margin-left:30px; text-align: center">
        <input type="checkbox" id="checkmess4">
        <label for="mess1" style="font-size: 24px; text-align: center">Message 4</label>
        <p>Date: <input id="1" type="date"></p>
        <p style="padding-left: 25px">Time: <input id="timemes1" type="number"></p>
        <canvas id="c4" width=768 height=128 style="padding-bottom: 0px;"></canvas>
        <script type="text/javascript">
            var cvas4 = new fabric.Canvas('c4');
            cvas4.setBackgroundColor('#000000');
            cvas4.renderAll();
        </script>
    </div>
    <!-- Config of message 4 -->
    <!-- Config of message 5 -->
    <div class="bordermess" style="margin-left:30px; text-align: center">
        <input type="checkbox" id="checkmess5">
        <label for="mess1" style="font-size: 24px; text-align: center">Message 5</label>
        <p>Date: <input id="1" type="date"></p>
        <p style="padding-left: 25px">Time: <input id="timemes1" type="number"></p>
        <canvas id="c5" width=768 height=128 style="padding-bottom: 0px;"></canvas>
        <script type="text/javascript">
            var cvas5 = new fabric.Canvas('c5');
            cvas5.setBackgroundColor('#000000');
            cvas5.renderAll();
        </script>
    </div>
    <!-- Config of message 5 -->
</div>

<div class="containereditor" style="display: inline;margin-right: 40px">
    <!--The messsage editor-->
    <div id="canvsedit" ondrop="drop(event)" ondragover="allowDrop(event)">
        <canvas id="cc" width="768" height="128" style="border: 1px solid #999;"></canvas>
    </div>
    <!--The messsage editor-->


    <br />
    <div style="margin-bottom: 20px;display: inline;">
        <!--Color Panel-->
        <p style="margin-bottom: 20px;display: inline;margin-left: 20px">
            <label for="font_family">Color:</label>
            <input type="color" id="color" value="#ffffff" style="width: 80px;margin-left: 40px" />
        </p>
        <!--Color Panel-->
        <!--Font Family-->
        <p style="margin-bottom: 20px;display: inline;margin-left: 20px">
            <label for="font_family">Font:</label>
            <select id="font_family" style="width: auto; height: 30px;margin-left: 40px;display: inline;">
                <option value="Helvetica" selected="selected">Helvetica</option>
                <option value="sans-serif">Sans Serif</option>
                <option value="Arial">Arial</option>
                <option value="Times New Roman">Times New Roman</option>
                <option value="Courier New">Courier New</option>
                <option value="Verdana">Verdana</option>
                <option value="georgia">Georgia</option>
                <option value="courier">Courier</option>
                <option value="comic sans ms">Comic Sans MS</option>
                <option value="impact">Impact</option>
                <option value="monaco">Monaco</option>
                <option value="optima">Optima</option>
                <option value="hoefler text">Hoefler Text</option>
                <option value="plaster">Plaster</option>

            </select>
        </p>
        <!--Font Family-->
        <!--Font Style-->
        <p style="margin-bottom: 20px;display: inline;margin-left: 20px">
            <label for="input_style">Font Style:</label>
            <select id="input_style" style="width: auto; height: 30px;margin-left: 40px;display: inline;">

                <option value="normal" selected="selected">Normal</option>
                <option value="italic">Italic</option>
                <option value="bold">Bold</option>

            </select>
        </p>
        <!--Font Style-->
    </div>
    <br />
    <div class="containerimg">
        <!--Display traffic sign images for dragging and dropping to the message editor-->
        <img id="image1" draggable="true" ondragstart="drag(event)" width=100 height=100 src="~/trafficsignimage/1.jpg" style="border: 2px solid white;" />
        <img id="image2" draggable="true" ondragstart="drag(event)" width=100 height=100 src="~/trafficsignimage/2.jpg" style="border: 2px solid white;" />
        <img id="image3" draggable="true" ondragstart="drag(event)" width=100 height=100 src="~/trafficsignimage/3.jpg" style="border: 2px solid white;" />
        <br />
        <img id="image4" draggable="true" ondragstart="drag(event)" width=100 height=100 src="~/trafficsignimage/4.jpg" style="border: 2px solid white;" />
        <img id="image5" draggable="true" ondragstart="drag(event)" width=100 height=100 src="~/trafficsignimage/5.jpg" style="border: 2px solid white;" />
        <img id="image6" draggable="true" ondragstart="drag(event)" width=100 height=100 src="~/trafficsignimage/6.jpg" style="border: 2px solid white;" />
        <br />
        <img id="image7" draggable="true" ondragstart="drag(event)" width=100 height=100 src="~/trafficsignimage/7.jpg" style="border: 2px solid white;" />
        <img id="image8" draggable="true" ondragstart="drag(event)" width=100 height=100 src="~/trafficsignimage/8.jpg" style="border: 2px solid white;" />
        <img id="image9" draggable="true" ondragstart="drag(event)" width=100 height=100 src="~/trafficsignimage/9.jpg" style="border: 2px solid white;" />
        <br />
        <img id="image10" draggable="true" ondragstart="drag(event)" width=100 height=100 src="~/trafficsignimage/10.jpg" style="border: 2px solid white;" />
        <img id="image11" draggable="true" ondragstart="drag(event)" width=100 height=100 src="~/trafficsignimage/11.jpg" style="border: 2px solid white;" />
        <img id="image12" draggable="true" ondragstart="drag(event)" width=100 height=100 src="~/trafficsignimage/12.jpg" style="border: 2px solid white;" />
        <br />
        <img id="image13" draggable="true" ondragstart="drag(event)" width=100 height=100 src="~/trafficsignimage/13.jpg" style="border: 2px solid white;" />
        <img id="image14" draggable="true" ondragstart="drag(event)" width=100 height=100 src="~/trafficsignimage/14.jpg" style="border: 2px solid white;" />
        <img id="image15" draggable="true" ondragstart="drag(event)" width=100 height=100 src="~/trafficsignimage/15.jpg" style="border: 2px solid white;" />
    </div>
    <div class="containerimg">
        <!--Display image in the template library-->
        <img id="it1" width=320 height=53 src="~/library/template1.jpg" onclick="changetemplate()" style="border: 2px solid white;" />
        <br />
        <img id="it2" width=320 height=53 src="~/library/template2.jpg" onclick="changetemplate2()" style="border: 2px solid white;" />
        <br />
        <img id="it3" width=320 height=53 src="~/library/template3.jpg" onclick="changetemplate3()" style="border: 2px solid white;" />
        <br />
        <img id="it4" width=320 height=53 src="~/library/template4.jpg" onclick="changetemplate4()" style="border: 2px solid white;" />
        <br />
        <img id="it5" width=320 height=53 src="~/library/template5.jpg" onclick="changetemplate5()" style="border: 2px solid white;" />
        <br />
        <img id="it6" width=320 height=53 src="~/library/template6.jpg" onclick="changetemplate6()" style="border: 2px solid white;" />
        <br />
        <img id="it7" width=320 height=53 src="~/library/template7.jpg" onclick="changetemplate7()" style="border: 2px solid white;" />
    </div>
    <br />
    <!--Change the selected message button-->
    <input id="Button1" type="button" value="Change Message" onclick="copycanvas()" style="margin-left:20px; background-color: black;color: white;width: 340px;padding: 16px 20px;" />
    <br />
    <!--Download selected message as image file-->
    <button type="button" onclick="uploadimage()" id="save_button" style="margin-left:20px; background-color: black;color: white;width: 340px;padding: 16px 20px;">Save Canvas</button>
    </br>
    <!--Add text to canvas editor-->
    <button type="button" onclick="add_text()" style=" margin-left:20px; background-color: black;color: white;width: 340px;padding: 16px 20px;">Add Text</button>

</div>

<!--Copy content from editor to message canvas-->
<script type="text/javascript">
    function copycanvas() {
        var canvasedit = document.getElementById('cc');
        var canvas1 = document.getElementById('c1');
        var canvas2 = document.getElementById('c2');
        var canvas3 = document.getElementById('c3');
        var canvas4 = document.getElementById('c4');
        var canvas5 = document.getElementById('c5');
        //var ctx1 = canvasedit.getContext('2d');
        var src = canvasedit.toDataURL("image/jpeg"); // cache the image data source
        var img = document.createElement('img'); // create a Image Element
        img.src = src;   //image source
        var image1, image2, image3, image4, image5 = "";
        //Canvas 1
        if (document.getElementById('checkmess1').checked) { //Check the checkbox
            console.log("Message 1 is checked")
            var ctx1 = canvas1.getContext('2d');
            ctx1.drawImage(img, 0, 0);
            image1 = img;
        }
        //Canvas 2
        if (document.getElementById('checkmess2').checked) {//Check the checkbox
            console.log("Message 2 is checked");
            var ctx2 = canvas2.getContext('2d');
            ctx2.drawImage(img, 0, 0);
            image2 = img;
        }
        //Canvas 3
        if (document.getElementById('checkmess3').checked) {//Check the checkbox
            console.log("Message 3 is checked")
            var ctx3 = canvas3.getContext('2d');
            ctx3.drawImage(img, 0, 0);
            image3 = img;
        }
        //Canvas 4
        if (document.getElementById('checkmess4').checked) {//Check the checkbox
            console.log("Message 4 is checked")
            var ctx4 = canvas4.getContext('2d');
            ctx4.drawImage(img, 0, 0);
            image4 = img;
        }
        //Canvas 5
        if (document.getElementById('checkmess5').checked) {//Check the checkbox
            console.log("Message 5 is checked")
            var ctx5 = canvas5.getContext('2d');
            ctx5.drawImage(img, 0, 0);
            image5 = img;
        }
    };

    //Call API
    function uploadimage() {
        var canvas1 = document.getElementById('c1');
        var canvas2 = document.getElementById('c2');
        var canvas3 = document.getElementById('c3');
        var canvas4 = document.getElementById('c4');
        var canvas5 = document.getElementById('c5');
        //var ctx1 = canvasedit.getContext('2d');


        

        var boardstring = "boardId_";
        var boardId = @Model.Info.id; //Assigned unique Id to respestive board
        //Canvas 1
        if (document.getElementById('checkmess1').checked) { //Check the checkbox
            var src = canvas1.toDataURL("image/jpeg"); // cache the image data source
            var image1 = document.createElement('img'); // create a Image Element
            image1.src = src;   //image source
            base64 = $(image1).attr("src").split(",")[1];
            base64 = "1" + boardstring + boardId.toString() + "-" + base64;
            //console.log("Message 1 is checked")
        }
        //Canvas 2
        if (document.getElementById('checkmess2').checked) {//Check the checkbox
            //console.log("Message 2 is checked");
            var src = canvas2.toDataURL("image/jpeg"); // cache the image data source
            var image2 = document.createElement('img'); // create a Image Element
            image2.src = src;   //image source
            base64 = $(image2).attr("src").split(",")[1];
            base64 = "2" + boardstring + boardId.toString() + "-" + base64;
        }
        //Canvas 3
        if (document.getElementById('checkmess3').checked) {//Check the checkbox
            //console.log("Message 3 is checked")
            var src = canvas3.toDataURL("image/jpeg"); // cache the image data source
            var image3 = document.createElement('img'); // create a Image Element
            image3.src = src;   //image source
            base64 = $(image3).attr("src").split(",")[1];
            base64 = "3" + boardstring + boardId.toString() + "-" + base64;
        }
        //Canvas 4
        if (document.getElementById('checkmess4').checked) {//Check the checkbox
            //console.log("Message 4 is checked")
            var src = canvas4.toDataURL("image/jpeg"); // cache the image data source
            var image4 = document.createElement('img'); // create a Image Element
            image4.src = src;   //image source
            base64 = $(image4).attr("src").split(",")[1];
            base64 = "4" + boardstring + boardId.toString() + "-" + base64;
        }
        //Canvas 5
        if (document.getElementById('checkmess5').checked) {//Check the checkbox
            //console.log("Message 5 is checked")
            var src = canvas5.toDataURL("image/jpeg"); // cache the image data source
            var image5 = document.createElement('img'); // create a Image Element
            image5.src = src;   //image source
            base64 = $(image5).attr("src").split(",")[1];
            base64 = "5" + boardstring + boardId.toString() + "-" + base64;
        }
        //base64 = $(img).attr("src").split(",")[1];
        //imageFileName = "1";
        //base64 = imageFileName + base64;
        $.ajax({
            url: "/api/upload/base64",
            type: "POST",
            data: JSON.stringify({
                value: base64
            }),
            contentType: 'application/json',
            success: function (response) {
                alert("Image is saved");
            },
            error: function (response) {
                console.log(response);
                try {
                    toastr.error(
                        response.responseJSON.message,
                        'Error!',
                    );
                } catch (e) {
                    toastr.error(
                        response.status + ' - ' + response.statusText,
                        'Error!',
                    );
                }
            }
        });


    }


</script>
<!-- Copy content from editor to message canvas -->
<!-- Add fabric text and allow drag and drop pictures -->
<script type="text/javascript">
    var canvas = new fabric.Canvas('cc');
    var text = new fabric.IText('Key In Text Here', { left: 250, top: 40, fill: 'white' });
    canvas.add(text).setActiveObject(text);
    canvas.setBackgroundColor('#000000');

    addHandler('font_family', function (obj) {
        setStyle(obj, 'fontFamily', this.value);
    }, 'onchange');

    addHandler('input_style', function (obj) {
        setStyle(obj, 'fontStyle', this.value);
    }, 'onchange');

    addHandler('color', function (obj) {
        setStyle(obj, 'fill', this.value);
    }, 'onchange');

      function add_text() {
        canvas.add(new fabric.IText('Key In Text Here', { left: 250, top: 40, fill: 'white' }))

    }
    function setStyle(object, styleName, value) {
        if (object.setSelectionStyles && object.isEditing) {
            var style = {};
            style[styleName] = value;
            object.setSelectionStyles(style).setCoords();
        }
        else {
            object[styleName] = value;
        }
        canvas.renderAll();
    };

    function getStyle(object, styleName) {
        return (object.getSelectionStyles && object.isEditing)
            ? object.getSelectionStyles()[styleName]
            : object[styleName];
    }

    function addHandler(id, fn, eventName) {
        document.getElementById(id)[eventName || 'onclick'] = function () {
            var el = this;
            if (obj = canvas.getActiveObject()) {
                fn.call(el, obj);
                canvas.renderAll();
            }
        };
    }


    //var dragItem = document.getElementById('image1');
    //var drogLoc = document.getElementById("canvsedit");
    function addImage(image) {
        //var canvas = new fabric.Canvas('cc');
        fabric.Image.fromURL(image, function (myImg) {
            var img1 = myImg.set({
                left: 0,
                top: 0,
                scaleX: 100 / myImg.width,
                scaleY: 100 / myImg.height
            });
            canvas.add(img1);
            canvas.renderAll();
        });

    }
    function drag(ev) {
        ev.dataTransfer.setData("key", ev.target.id);
        console.log("Start dragging");
    }

    function allowDrop(ev) {
        ev.preventDefault();
        console.log("its dragover.....");
    }



    function drop(ev) {
        var data = ev.dataTransfer.getData("key");
        ev.preventDefault();
        console.log("Its dropped");
        var myElement = document.getElementById(data);
        var src_image = myElement.src;
        console.log(src_image);
        addImage(src_image);
        //ev.target.appendChild(document.getElementById(data));
    }
</script>
<!-- Add fabric text and allow drag and drop pictures -->
<!-- Change the editor from a template in the library -->
<script type="text/javascript">
    function changetemplate() {
        var canvasc2 = document.getElementById('cc');
        var img = document.getElementById("it1");
        var ctxt2 = canvasc2.getContext('2d');
        ctxt2.drawImage(img, 0, 0);

    }
    function changetemplate2() {
        var canvasc2 = document.getElementById('cc');
        var img = document.getElementById("it2");
        var ctxt2 = canvasc2.getContext('2d');
        ctxt2.drawImage(img, 0, 0);

    }
    function changetemplate3() {
        var canvasc2 = document.getElementById('cc');
        var img = document.getElementById("it3");
        var ctxt2 = canvasc2.getContext('2d');
        ctxt2.drawImage(img, 0, 0);

    }

    function changetemplate4() {
        var canvasc2 = document.getElementById('cc');
        var img = document.getElementById("it4");
        var ctxt2 = canvasc2.getContext('2d');
        ctxt2.drawImage(img, 0, 0);

    }
    function changetemplate5() {
        var canvasc2 = document.getElementById('cc');
        var img = document.getElementById("it5");
        var ctxt2 = canvasc2.getContext('2d');
        ctxt2.drawImage(img, 0, 0);

    }
    function changetemplate6() {
        var canvasc2 = document.getElementById('cc');
        var img = document.getElementById("it6");
        var ctxt2 = canvasc2.getContext('2d');
        ctxt2.drawImage(img, 0, 0);

    }
    function changetemplate7() {
        var canvasc2 = document.getElementById('cc');
        var img = document.getElementById("it7");
        var ctxt2 = canvasc2.getContext('2d');
        ctxt2.drawImage(img, 0, 0);

    }
</script>
<!-- Change the editor from a template in the library -->
<!-- Download function, download as a picture -->
<script>
    function downloadMessage() {
        if (document.getElementById('checkmess1').checked) { //Check the checkbox
            $("#c1").get(0).toBlob(function (blob) {
                saveAs(blob, "message1.jpg");
            });

        }
        if (document.getElementById('checkmess2').checked) { //Check the checkbox
            $("#c2").get(0).toBlob(function (blob) {
                saveAs(blob, "message2.jpg");
            });

        }
        if (document.getElementById('checkmess3').checked) { //Check the checkbox
            $("#c3").get(0).toBlob(function (blob) {
                saveAs(blob, "message3.jpg");
            });

        }
        if (document.getElementById('checkmess4').checked) { //Check the checkbox
            $("#c4").get(0).toBlob(function (blob) {
                saveAs(blob, "message4.jpg");
            });

        }
        if (document.getElementById('checkmess5').checked) { //Check the checkbox
            $("#c5").get(0).toBlob(function (blob) {
                saveAs(blob, "message5.jpg");
            });

        }


    }
</script>

<!--Configuration of CCTV-->
<button class="open-button" onclick="openForm()">Open CCTV</button>
<div class="form-popup" id="myForm">
    <form action="/action_page.php" class="form-container">
        <h1>CCTV Config</h1>

        <!--<label for="username"><b>Username</b></label>
        <input id="user_cctv" type="text" placeholder="Enter Username" name="user" required>-->
        <!--<label for="psw"><b>Password</b></label>
        <input id="psw_cctv" type="password" placeholder="Enter Password" name="psw" required>-->

        <label for="cctvip"><b>IP:Port</b></label>
        <input id="ipport" type="text" placeholder="10.8.6.91:7777" name="cctvip" required>

        <button type="button" class="btn" onclick="opencctv()">Open</button>
        <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
    </form>
    <script type="text/javascript">
        function openForm() {
            document.getElementById("myForm").style.display = "block";
        }

        function closeForm() {
            document.getElementById("myForm").style.display = "none";
        }
        function opencctv() {
            var ip_address = document.getElementById("ipport").value;
            window.open(ip_address)

        }
    </script>
</div>
<!--Configuration of CCTV-->

<br />
<br />
<br />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <input type="hidden" asp-for="Info.id" />
            <input type="hidden" asp-for="Info.zone" />
            <input type="hidden" asp-for="Info.tag" />
            <input type="hidden" asp-for="Info.location" />

            <input type="hidden" asp-for="Info.image" />

            <div class="form-group">
                <input type="submit" value="Update and Return to Table" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="/Zones/Table1">Return to Table</a>
</div>
