﻿@page
@model VMStest.Pages.VMS.HistoryModel
@{
    ViewData["Title"] = "History";
}


<style>
    .topnav {
        height: auto;
        width: 100%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: white;
        overflow-x: hidden;
        padding-top: 0.5px;
    }
</style>

<body>

    <header>
        <div class="topnav">
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="container">

                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                        <ul class="navbar-nav flex-grow-1">

                            <li class="nav-item">
                                <a class="navbar-brand" asp-area="" asp-page="/Index">Map</a>
                            </li>
                            <li class="nav-item">
                                <a class="navbar-brand" asp-area="" asp-page="/Zones/Table1">Table</a>
                            </li>
                            <li class="nav-item">
                                <a class="navbar-brand" asp-area="" asp-page="/VMS/History">History</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

        </div>
    </header>
</body>

<br />
@if (Model.Info.Count > 0)
{
    <form method="post">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Info[0].nowdatetime)
                    </th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model.Info)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.nowdatetime)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </form>
}

else
{
    <p>No entries yet.</p>
}

