﻿@page
@model VMStest.VMS.Pages.VirtualBoardModel
@{
    ViewData["Title"] = "VirtualBoard";
}
    <head>
        <link rel="stylesheet" href="~/css/virtualboard.css" />
        <script src="~/js/virtualboard.js"></script>
    </head>
    
@*<h2>VirtualBoard</h2>*@

<h1 style>Virtual VMS Display</h1>
<div id="base" class="base">
s    <div id="matrix" class="matrix"></div>
    <!--<button onClick="getCoords()">Get coordinates</button>-->
    <button onClick="rotate('left')">Left</button>
    <button onClick="rotate('right')">Right</button>
    <button onClick="stop()">Stop</button>
    <button onClick="clearM()">Clear</button>
    <button onClick="fill()">fill</button>
    <div id="demo"></div>
</div>