* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	
	font-family: 'Saira', Arial, Helvetica, sans-serif;
}

h1 {
	margin: 30px 0px;
	color: #313131;
	font-size: 30px;
	font-weight: 900;
	text-align: left;
}

h1 span {
	font-weight: 300;
}

.date-picker {
    position: absolute;
    width: 20%;
    max-width: 320px;
    height: 30px;
    background-color: #FFF;
    margin-left: 30px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    user-select: none;
}

.date-picker:hover {
	background-color: #F3F3F3;
}

.date-picker .selected-date {
	width: 100%;
	height: 100%;

	display: flex;
	justify-content: center;
	align-items: center;

	color: #313131;
	font-size: 24px;
}

.date-picker .dates {
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;

	background-color: #FFF;
}

.date-picker .dates.active {
	display: block;
}

.date-picker .dates .month {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 2px solid #EEE;
}

.date-picker .dates .month .arrows {
	width: 20px;
	height: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #313131;
	font-size: 20px;
}

.date-picker .dates .month .arrows:hover {
	background-color: #F3F3F3;
}

.date-picker .dates .month .arrows:active {
	background-color: #00CA85;
}

.date-picker .dates .days {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	height: 200px;
}
.date-picker .dates .days .day { 
	display: flex;
	justify-content: center;
	align-items: center;
	color: #313131;
}
.date-picker .dates .days .day.selected {
	background-color: #00CA85;
}
.bordermesage {
    border-style: solid;
    border-color: #287EC7;
    padding: 1px 1px;
}

.borderimg {
    border: 10px solid transparent;
    padding: 15px;
    background-image: url('../../properties/icon/background.png');
    border-image-slice: 30;
}
div {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}



#relative {
    width: 100%;

    height: 300px;
    position: relative;
}

#absolute {
    position: absolute;
    right: 0;
}
#imagealign {
    margin-right: 30px;
}
.bordermess {
    width: auto;
    height: auto;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    background-color: #d4ebf2;
    border: 2px solid black;
    margin-bottom: 5px;
    display: inline-block;
}
.div_hearder{
    display:inline-block;
}

.containerimg {
    margin-left: 20px;
    width: 340px;
    height: 200px;
    overflow-y: scroll;
    white-space: nowrap;
    display: inline-block;
}
.containermess {
    width: auto;
    height: 600px;
    overflow-y: scroll;
    white-space: nowrap;
    display: inline-block;
}

.containereditor {
    width: auto;
    height: 600px;
    white-space: nowrap;
    display: inline-block;
    float: right;
    margin-right: 200px;
    box-shadow: 0 0 5px 1px black;
}
.block_container {
    display: inline-grid;
}

#bloc1, #bloc2 {
    display: inline;
}
traficborder {
    width: 500px;
    height: 500px;
    border: 2px solid black;
}
#mydiv {
    position: absolute;
    z-index: 9;
    /*background-color: #f1f1f1;*/
    text-align: center;
}

#mydivheader {
    padding: 10px;
    cursor: move;
    z-index: 10;
    /*background-color: #2196F3;*/
    color: #fff;
}
.video-image {
    max-width: 240px;
    height: auto;
}
.open-button {
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 60px;
    left: 28px;
    width: 280px;
}

/* The popup form - hidden by default */
.form-popup {
    display: none;
    position: fixed;
    bottom: 60px;
    left: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
}

/* Add styles to the form container */
.form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}

    /* When the inputs get focus, do something */
    .form-container input[type=text]:focus, .form-container input[type=password]:focus {
        background-color: #ddd;
        outline: none;
    }

/* Set a style for the submit/login button */
.form-container .btn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
    background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
    opacity: 1;
}

#answer1Box, #answer2Box, #answer3Box, #answer4Box {
    float: left;
    width: 125px;
    height: 40px;
}

#target1, #target2, #target3, #target4 {
    width: 120px;
    height: 120px;
    background-color: white;
    margin-top: 30px;
    border-radius: 5px;
    border: 2px solid black;
}

canvas {
    border: 1px solid red;
    display: inline;
}

#toolbar {
    width: 350px;
    height: 35px;
    border: solid 1px blue;
}
div {
    display: inline-block;
}

.div-left {
    float: left;
    padding-left: 10px;
}

.div-right {
    float: right;
    padding-right: 10px;
}
#drag {
    width: 100px;
    height: 100px;
    display: inline-block;
}
#working_area {
}

.rotatable {
    width: 100px;
    height: 100px;
    border: 3px solid grey;
    display: inline-block;
}

.box {
    float: left;
    margin: 1em;
}
#canvas_container {
    margin-bottom: 10px;
}
#canvas-container {
    position: relative;
    width: 400px;
    height: 250px;
    margin: 10px 0px;
}



canvas {
    border: 1px solid #ccc;
    box-shadow: 0 0 5px 1px #dddddd;
}
