﻿body {
    background-color: #888889;
    color: white;
    font-family: sans-serif;
}

h1 {
    text-align: center;
    font-size: 3em;
}

.base {
    display: inline-block;
    border: 10px groove gray;
    border-right: 10px ridge gray;
    border-bottom: 10px ridge gray;
    padding: 10px;
    background-color: #BBBBBB;
    position: absolute;
    text-align: center;
}

.matrix {
    width: 750px;
    height: 210px;
    background-color: black;
    border: 5px ridge gray;
    border-bottom: 5px groove gray;
    border-left: 5px groove gray;
}

.led {
    cursor: pointer;
    display: inline-block;
    margin: 5px;
    margin-bottom: 0px;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: red;
    -webkit-box-shadow: 0px 0px 15px 5px rgba(255, 0, 0, .75);
    -moz-box-shadow: 0px 0px 15px 5px rgba(255, 0, 0, .75);
    box-shadow: 0px 0px 15px 5px rgba(255, 0, 0, .75);
}

.off {
    background-color: #222222;
    -webkit-box-shadow: 0px 0px 0px 0px rgba(255, 255, 190, .75);
    -moz-box-shadow: 0px 0px 0px 0px rgba(255, 255, 190, .75);
    box-shadow: 0px 0px 0px 0px rgba(255, 255, 190, .75);
}
