﻿@page
@model VMStest.Pages.Table2Model
@{
    ViewData["Title"] = "Table2";
}

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        /*the table and search (Search the first columnn for the vms name or location*/
        * {
            box-sizing: border-box;
        }

        #myInput {
            background-image: url('/css/searchicon.png');
            background-position: 10px 10px;
            background-repeat: no-repeat;
            width: 30%;
            font-size: 16px;
            padding: 12px 20px 12px 40px;
            border: 1px solid #ddd;
            margin-bottom: 12px;
        }

        #myTable {
            border-collapse: collapse;
            width: 100%;
            border: 1px solid #ddd;
            font-size: 18px;
        }

            #myTable th, #myTable td {
                text-align: left;
                padding: 12px;
            }

            #myTable tr {
                border-bottom: 1px solid #ddd;
            }

                #myTable tr.header, #myTable tr:hover {
                    background-color: #f1f1f1;
                }
        /* side navigation part*/
        body {
            font-family: "Lato", sans-serif;
        }

        .sidenav {
            height: 100%;
            width: 160px;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            background-color: #111;
            overflow-x: hidden;
            padding-top: 20px;
        }

            .sidenav a {
                padding: 6px 8px 6px 16px;
                text-decoration: none;
                font-size: 25px;
                color: #818181;
                display: block;
            }

                .sidenav a:hover {
                    color: #f1f1f1;
                }

        /*for the main page*/
        .main {
            margin-left: -80px; /*Same as the width of the sidenav*/
            font-size: 16px; /*Increased text to enable scrolling*/
            width: 1050px;
            height: 1000px;
            padding: 20px;
        }
        /*for the alarm and alert button that act as a switch on click*/
        .switch {
            position: relative;
            display: inline-block;
            width: 90px;
            height: 34px;
        }

            .switch input {
                display: none;
            }

        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }

            .slider:before {
                position: absolute;
                content: "";
                height: 26px;
                width: 26px;
                left: 4px;
                bottom: 4px;
                /*background-color: white;*/
                -webkit-transition: .4s;
                transition: .4s;
            }

        input:checked + .slider {
            background-color: white;
        }

        input:focus + .slider {
            box-shadow: 0 0 1px #2196F3;
        }

        input:checked + .slider:before {
            -webkit-transform: translateX(55px);
            -ms-transform: translateX(55px);
            transform: translateX(55px);
        }

        /*------ ADDED CSS ---------*/
        .on {
            display: none;
        }

        .on, .off {
            color: white;
            position: absolute;
            transform: translate(-50%,-50%);
            top: 50%;
            left: 50%;
            font-size: 10px;
            font-family: Verdana, sans-serif;
        }

        input:checked + .slider .on {
            display: block;
        }

        input:checked + .slider .off {
            display: none;
        }

        /*--------- END --------*/

        /* Rounded sliders */
        .slider.round {
            border-radius: 34px;
        }

            .slider.round:before {
                border-radius: 50%;
            }

             .topnav {
            height: auto;
            width: 100%;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            background-color: white;
            overflow-x: hidden;
            padding-top: 0.5px;
        }
    </style>
</head>
<body>

    <header>
        <div class="topnav">
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="container">

                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                        <ul class="navbar-nav flex-grow-1">

                            <li class="nav-item">
                                <a class="navbar-brand" asp-area="" asp-page="/Index">Map</a>
                            </li>
                            <li class="nav-item">
                                <a class="navbar-brand" asp-area="" asp-page="/Zones/Table1">Table</a>
                            </li>
                            <li class="nav-item">
                                <a class="navbar-brand" asp-area="" asp-page="/VMS/History">History</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

        </div>
    </header>

    <div class="sidenav">
        <br /><br />
        <li><a asp-page="/VMS/History">History</a></li>
        <li><a asp-page="">Company</a></li>
        <li><a asp-page="">Email</a></li>
        <li><a asp-page="">Project</a></li>
    </div>


    @*<div class="main">*@

    <!--To divide the table into zones (mybe in future use ?)-->
    @*<br />
        <button><a asp-page="/Zones/Table">Zone1</a></button>
        <button><a asp-page="/Zones/Table2">Zone2</a></button>*@

    <!--To divide the table into zones (mybe in future use ?)-->

    <br />
    <h2>VMS Data Zone 2</h2>

    @if (Model.ShowMessage)
    {
        <div class="alert alert-info alert-dismissible" role="alert">
            <span data-dismiss="alert" class="close">x</span>
            @Model.Message
        </div>
    }

    <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names.." title="Type in a name">
    <p><button onclick="sortTable()">Sort</button></p>
    <table id="myTable">
        <tbody>
            @foreach (var item in Model.vms)
            {
                //Show boards for Zone 2 Only
                if (item.zone == 2)
                {
                    <tr>
                        <td>
                            <align ="center">
                                <center>
                                    <b>@Html.DisplayFor(modelItem => item.tag)</b>
                                    <br />
                                    <b>@Html.DisplayFor(modelItem => item.location)</b>
                                </center>
                        </td>
                        <td><align ="center"><img src="@item.image" alt="storedimage" /></td>

                        <td> <align ="center"><label class="switch"><input type="checkbox" id="togBtn"><div class="slider round"><!--ADDED HTML --><span class="on"><img src="~/images/alarm red on.png" alt="ON" /></span><span class="off"><img src="~/images/alarmoff.png" alt="OFF" /></span><!--END--></div></label></td> <!--Toggle button by click switching images-->
                        <td><label class="switch"><input type="checkbox" id="togBtn"><div class="slider round"><!--ADDED HTML --><span class="on"><img src="~/images/alerton.png" alt="ON" /></span><span class="off"><img src="~/images/alertoff.png" alt="OFF" /></span><!--END--></div></label></td> <!--Toggle button by click switching images-->
                        <td><align ="center"><a asp-page="/VMS/Editor" asp-route-id="@item.id">EDIT</a></td> <!--Edit button linked to the VMS single edit -->
                    </tr>
                }
            }
        </tbody>
    </table>


    <!--This is the function for the search and table-->
    <script>
        function myFunction() {
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("myInput");
            filter = input.value.toUpperCase();
            table = document.getElementById("myTable");
            tr = table.getElementsByTagName("tr");
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[0];
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
        function sortTable() {
            var table, rows, switching, i, x, y, shouldSwitch;
            table = document.getElementById("myTable");
            switching = true;
            /*Make a loop that will continue until
            no switching has been done:*/
            while (switching) {
                //start by saying: no switching is done:
                switching = false;
                rows = table.rows;
                /*Loop through all table rows (except the
                first, which contains table headers):*/
                for (i = 0; i < (rows.length); i++) {
                    //start by saying there should be no switching:
                    shouldSwitch = false;
                    /*Get the two elements you want to compare,
                    one from current row and one from the next:*/
                    x = rows[i].getElementsByTagName("Td")[0];
                    y = rows[i + 1].getElementsByTagName("Td")[0];
                    //check if the two rows should switch place:
                    if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                        //if so, mark as a switch and break the loop:
                        shouldSwitch = true;
                        break;
                    }
                }
                if (shouldSwitch) {
                    /*If a switch has been marked, make the switch
                    and mark that a switch has been done:*/
                    rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                    switching = true;
                }
            }
        }

    </script>

    @*</div>*@

</body>
</html>

<div class="container">
    @*<h1>Bootstrap 4 | Pagination Disabled State</h1>*@ <!--https://www.geeksforgeeks.org/bootstrap-4-pagination/ -->
    <!-- Declare the pagination class -->
    <br />
    <ul class="pagination">

        <!-- Specify the disabled class to style this item disabled -->
        <li class="page-item">

            <!-- Specify tabindex to make the link non navigatable -->
            <a class="page-link" href="/Zones/Table1" tabindex="-1">Previous</a>
        </li>
        <li class="page-item"><a class="page-link" href="/Zones/Table1">1</a></li>
        <li class="page-item">
            <a class="page-link" href="/Zones/Table2">2</a>
        </li>
        </li>
        @*<li class="page-item"><a class="page-link" href="#">3</a></li>*@
        <li class="page-item disabled">

            <a class="page-link" href="/Zones/Table2">Next</a>
        </li>
    </ul>
</div>

